# python
__pycache__/
*.pyc
.venv/
.env
model/artifacts/

# node
node_modules/
npm-debug.log*

# angular
frontend/angular/dist/
frontend/angular/.angular/

#data
data/responses.json

# misc
.DS_Store
logs/*.csv
